forGenius/.vscode
forGenius/venv
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*/migrations
*/*/migrations
*/*/*/migrations
*/*/*/*/migrations
*/*/*/*/*/migrations
